{% include '_header.twig' %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
      <li><a href="">1</a></li>
      <li><a href="">1</a></li>
      <li></li>
      </ul>
    </div>
    <div class="span9">
      <h3>Удаление рубрик, страниц и изображений</h3>
<p>
Только пользователь "root" имеет привелегии на удаление.
Все остальные операторы могут деактивировать запись и она не будет показываться на сайте.
</p>

<h3>Добавление рубрик или категорий в меню</h3>
<p>Для добавления достаточно нажать кнопку напротив нужной вам рубрики(страницы).
Появиться форма добавления пункта меню нужно выбрать меню в которое планируете добавить и нажать "Сохранить и закрыть"</p>

<h3></h3>
<p>Для создание галереи создай те рубрику с типом "галерея". Добавти картинки в эту рубрику</p>
    </div>
  </div>
</div>




{% include '_footer.twig' %}
