{% include '_header.twig' %}

<form enctype="multipart/form-data" class="iform" action="" method="post">
	<input type="file" name="file" id="file" class="itext" onChange="form.submit()">
</form>

{% include '_footer.twig' %}
