<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<link href="{{ base_url }}css/bootstrap.css" rel="stylesheet">
		<link href="{{ base_url }}css/style.css" rel="stylesheet">
		<script src="{{ base_url }}js/jquery-1.7.2.min.js"></script>
	</head>
<body>

<div class="wrapper">

<div class="container">
	<div class="row-fluid">
		<div class="span4" style="margin: 20px 0px;">
			<a href="http://test.local/admin/" id="logo">
				<img src="http://test.local/admin/images/logo.png" alt="Quality Сase" />
			</a>
		</div>

		<div class="span5">
			<ul class="nav nav-pills" style="margin-bottom: 0px; margin-top: 50px;">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Руководство</a></li>
				<li><a href="#">Особенности</a></li>
				<li><a href="https://github.com/QualityCase/Mini-Case">Скачать</a></li>
			</ul>
		
		</div>
		<div class="span3" style="margin-top: 50px;">
			<form>
				<div class="input-append">
					<input type="text" class="input-medium search-query">
					<button class="btn" type="button">Go!</button>
				</div>
			</form>
		</div>
	</div>
</div>

		
<div style="height: 115px; background: url(img/css/header_bg.jpg) repeat-x;">
<div class="container">
			<div class="row-fluid">
			
			<h2>О компании</h2>
		</div>

		</div>
</div>

<div class="container">
