	</div>
	<div class="push"><!--//--></div>
</div>

<div class="modal-footer footer">
	<p>Спасибо вам за сотрудничество с <a href="http://qualitycase.ru/">Quality Case</a>.<br />
			mini Case © 2009-2012 Все права защищены.</p>
</div>
{% include '_modal.twig' %}
<script src="{{ base_url }}js/bootstrap.js"></script>
<script src="{{ base_url }}js/bootstrap-modal.js"></script>
</body>
</html>